[user]
    name = Rafał Mirończyk
    email = voyageur.pl@gmail.com

[github]
    user = v0y

[color]
    ui = auto

[core]
    excludesfile = ~/.gitfiles/global-ignore

[alias]
    rb = rebase -i
    co = checkout
    ci = commit

