[user]
    name = Rafał Mirończyk
    email = voyageur.pl@gmail.com

[github]
    user = v0y

[color]
    ui = auto

[core]
    excludesfile = ~/.gitfiles/global-ignore

[alias]
    # rebase
    r = rebase
    rb = rebase
    rbim = rebase -i --autosquash master
    rbm = rebase -p master
    rbi = rebase -i --autosquash
    rbih = "!f() { git rebase -i --autosquash HEAD~$1; }; f"
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip

    # merge
    ms = merge --squash
    msm = merge --squash master

    # cherry-pick
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpq = cherry-pick --quit
    cpc = cherry-pick --continue

    # misc
    co = checkout
    df = diff
    ph = push
    phf = push -f
    pl = pull
    phu = push -u
    plu = pull -u
    st = status
    rl = reflog
    a = add
    b = branch
    f = fetch
    alias = config --get-regexp alias
    sh = show

    # reset
    hard = reset --hard
    hardh = "!f() { git reset --hard HEAD@\\{$1\\}; }; f"
    hardr = "git reset --hard origin/$1 && git clean -f -d"

    # stash
    sth = stash
    sthl = stash list
    stha = "!f() { git stash apply stash@\\{$1\\}; }; f"
    sthp = "!f() { git stash pop stash@\\{$1\\}; }; f"
    sthd = "!f() { git stash drop stash@\\{$1\\}; }; f"

    # bisect
    bs = bisect
    bss = bisect start
    bsg = bisect good
    bsb = bisect bad
    bsr = bisect reset

    # custom git commands
    apr = accept-pr

    # log
    l = log
    lg = log --oneline --graph

    # commit
    ci = commit
    cim = commit -m
    cia = commit -a
    ciam = commit -a -m
    amend = commit --amend
    aamend = commit -a --amend

[push]
    default = current

[pull]
    rebase = true
